/************************* Variables *************************/
$up: #16C784;
$down: #EA3943;
$main-color: #8aacf1;
$button-color: #3861FB;
$background-color-main: #0D1421;
$background-color-secondary: #222531;
$main-font: Roboto,Helvetica,Arial,sans-serif;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;
/************************* Global *************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $main-font;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
/************************* Global *************************/

body {
  background-color: $background-color-main;
}

/* Header Styles */
header {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-bottom-color: 1px solid #fff;
  justify-content: space-between;
}

.wide-screen-container {
  display: flex;
  width: 100vw;
  height: 55px;
  margin-top: 10vh;
  justify-content: space-between;
}

.home-icon {
  color: $main-color;
  font-size: 45px;
  cursor: pointer;
  transition:
    height 400ms,
    width 400ms;
}
.home-icon:hover {
  width: 50px;
  height: 50px;
  color: #fff;
}

ul {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
li {
  margin: 5px 15px;
  font-size: x-large;
  list-style: none;
  color: $main-color;
  cursor: pointer;
}
li:hover {
  color: #fff;
}

.logo{
  width: 70px;
  height: 60px;
}

/* Main Styles */
main {
  width: 100%;
  min-height: 68%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.global-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 25px;
  border: 1px solid #fff;
}

.global-metric{
  width: 30%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: $background-color-secondary;
  border: 1px solid #fff;
}

.list-container {
  display: flex;
  width: 80%;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  ul{
    button{
      min-width: 25px;
      width: fit-content;
      margin: 5px;
      font-size: large;
      border: none;
      color:white;
      background-color: transparent;
      cursor: pointer;
    }
    .button-active{
      background-color: $button-color;
      border-radius: 3px;
    }
  }
  table{
    width:100%;
    font-size: medium;
    thead {
      height: 50px;
      border-bottom: 20px solid $lfs-yellow;
      th {
          text-transform: uppercase;
          text-align: left;
          padding: 10px;
          color: $main-color;
          border-top: 2px solid $lfs-yellow;
          border-bottom: 2px solid $lfs-yellow;
      }
    }
    tbody {
      tr {
          td {
              padding: 20px 10px;
              border-bottom: 1px solid $lfs-grey;
          }
          th {
              padding-left: 10px;
          }
      }
  }
  }
}
.coin-list-container-hidden {
  display: none;
}
.up{
  color:$up;
  font-size: large;
}
.down{
  color:$down;
  font-size: large;
}
#goToTopButton {
  display: none;
  width: 50px;
  height: 50px;
  top: 80vh;
  right: 3vw;
  border-radius: 5px;
  border-color: $main-color;
  background-color: $main-color;
  position: fixed;
  z-index: 1;
}

.goToTop{
  font-size: xx-large;
}

/* Footer Styles */
footer {
  height: 5%;
  margin-left: auto;
  margin-right: auto;
  color: #d6d6d6;
}
footer p {
  margin: 3px;
  font-family: Roboto;
  font-size: small;
  text-align: center;
}
footer p:nth-last-of-type(1) {
  margin-top: 5px;
  font-size: x-small;
}
footer span {
  color: $main-color;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: $main-color;
}

.toggle-container {
  display: none;
}
.toggle-pushed-container {
  display: none;
}
.toggle-navigation {
  display: none;
}
.toggle-pushed-navigation {
  display: none;
}
